<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
</head>
<body>
  <main>

  
    <div>
      <img src=<%= details.image %>>
      <p>Title: <%= details.title %></p>
      <p>Authors: <%= details.author %></p>
      <p>Description: <%= details.description %></p>
      <p>ISBN: <%= details.isbn %></p>
      <p>Bookshelf: <%= details.bookshelf %></p>
    </div>
  </main>
</body>
</html>