<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">

    <title>Search Books</title>
</head>

<body>
    <header>
        <section class="mobile-container">
        <!-- Top Navigation Menu -->
        <section class="topnav">
             <a href="" class="active">Best Books!</a>
            <!-- Navigation links (hidden by default) -->

            <section id="myLinks">
                <a href="/">My Books</a>
                <a href="searches/new">Search the Google Books API</a>
            </section>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </section>


        <script>
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }
            </script>

    </header>


        <script>
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }
            </script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script> 
    $(document).ready(function () {
        $('#selectForm').hide();
        $('#selectBtn').on('click', function () {
            $('#selectForm').toggle();
        })
    })</script>

    </header>
    <main>
        <h1>Search Results</h1>
        <% Books.forEach(result => { %>
        <div>
            <img src="<%= result.image_url  %>">
            <p><%= result.title %></p>
            <h3><%= result.author %></h3>
            <p><%= result.description %></p>
            <button type="submit" id="selectBtn" >Select this book</button>

            <div  >

            <form id="selectForm" form action='/books/<%=result.id%>' method='POST'>
                    <!-- <input type="text" name="title" value="<%= result.title %>"/>
                    <input type="text" name="author" value="<%= result.author %>" />
                    <textarea name="description" value="<%= result.description %>" cols="30" row="10"></textarea>
                    <input type="number" name="isbn" value="<%= result.isbn %>" /> -->
                    <input type="text" name="bookshelf" value="" placeholder="Enter a bookshelf"/>

                <button type="submit">Add to Database</button>

                
                </form>
            </div>

        </div>
        <%  }) %>
        




        <footer>
            <h1>footer</h1>
        </footer>
    </main>
   
</body>

</html>