<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
</head>
<body>
     <%- include('header'); -%>
    <main>
       
       <h2> <%= counter%> SAVED BOOKS</h2>
        <% Books.forEach(result => { %>
            <div id="results">
                
                
                <img src="<%= result.image_url %>">
                <p>Book Title<%= result.title %></p>
                <h3>Author Name <%= result.author %></h3>
                <!-- <p>description<%= result.description %></p>
                <p><%= result.isbn %></p>
                <p><%= result.bookshelf%></p> -->
                <button type="submit"><a href="/books/<%= result.id%>"></a> View Details</button>
  
            </div>
            <%  }) %>
    </main>
    <footer>
        <h1>footer</h1>
    </footer>
</body>
</html>